<ion-header>
  <div class="header-fixed">
    <a href="#" menuToggle class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a>
    <a href="#" class="header-logo">BEENEWS</a>
    <a href="#" class="header-icon-2 open-right-sidebar">{{userProvider.getUser().name}}</a>
    <a href="#" class="header-icon-3 open-search-bar">10k</a>
  </div>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let publication of publications">
      <div class="news-slider" (click)="publicationView(publication.id)">
        <a href="#" class="news-slider-item">
          <img style="max-height: 300px; margin: auto;" class="responsive-image" src="{{frontUrl}}/{{publication.cover_image}}" alt="img">
          <h3>{{publication.title}}</h3>
        </a>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="content">
    <div class="home-tabs">
      <ng-container *ngFor="let editorial of editorial_guides; let i=index">
        <a *ngIf="i<3" (click)="changeEditorial(i)"  [ngClass]="{'active-home-tab':editorial.is_active}" class="activate-tab-{{i}}" >{{editorial.data.name}}</a>
      </ng-container>
      <div class="clear"></div>
    </div>
  </div>

  <div [hidden]="!editorial.is_active" *ngFor="let editorial of editorial_guides; let i=index" class="content" id="tab-{{i}}">
    <div class="thumb-layout">
      <a style="overflow: hidden;" (click)="publicationView(publication.id)" *ngFor="let publication of editorial.publications" href="#">
        <img  src="{{frontUrl}}/{{publication.cover_image}}">
        <strong>{{editorial.data.name}}</strong>
        <em>{{publication.title}}</em>
      </a>
    </div>
    <div class="decoration"></div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <h3 class="footer-logo">BEENEWS MOBILE</h3>
      <p class="footer-text">
        Beenews é um portal de notícias e fonte de conteúdo técnico e digital para sua influente audiência em todo o mundo.
      </p>
    </div>
    <div class="footer-socials">
      <a href="#" class="scale-hover facebook-color"><i class="fa fa-facebook"></i></a>
      <a href="#" class="scale-hover twitter-color"><i class="fa fa-twitter"></i></a>
      <a href="#" class="scale-hover google-color"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="scale-hover phone-color"><i class="fa fa-phone"></i></a>
      <a href="#" class="scale-hover mail-color"><i class="fa fa-envelope-o"></i></a>
      <a href="#" class="scale-hover bg-night-dark back-to-top"><i class="fa fa-angle-up"></i></a>
      <div class="clear"></div>
    </div>
    <p class="footer-strip">Copyright <span id="copyright-year"></span> Beenews. Todos os direitos reservados</p>
  </div>

</ion-content>
