
.input-search, input[type="text"]{
	background: white !important;
}
#button-search{
	position: absolute;
	right: 5px;
}
/*------------------Recent-Search-----------------*/
.recent-search li{
	padding: 10px;
}
.recent-search span{
	margin-left:0;
}
.recent-search p{
	opacity: 0.4;
	padding-bottom: 6px;
    border-bottom: 1px solid #a2a2a2;
}
/*-------------result search--------------------------*/
.result-search li {
	padding: 10px;
	padding-left: 10px;
}
.result-search ul li  i {
	padding-right: 10px;
	opacity: 0.5;
}
/*----------------No result-----------------------*/
.no-result p{
	text-align: center;
	margin-top: 10%;
}
