<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{movie.original_title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item>

      <h2>{{movie.title}}</h2>

      <p class="original-title">Título original: {{movie.original_title}}</p>
    </ion-item>

    <img src="{{movie.picture}}">
    <ion-card-content>
      <p>{{movie.synopsis}}</p>
    </ion-card-content>
    <ion-item *ngFor="let room of rooms">
      <ion-icon name="film" item-start large></ion-icon>
      <h2>{{room.room.cine.name}}</h2>
      <p *ngFor="let schedule of room.schedules">{{schedule.displayed_at | amDateFormat: 'DD-MM-YYYY'}} em {{room.room.description}}</p>
    </ion-item>

  </ion-card>
</ion-content>
